---
import Layout from "../layouts/Layout.astro"
import Nav from "../components/Nav.astro"
---

<Layout title="Historial de alquiler">
    <div class="flex flex-col items-center gap-10 pt-10">
        <h1 class="text-2xl font-bold">Historial</h1>
        <i class="fa-solid fa-clock-rotate-left text-8xl text-Blue"></i>
    </div>
    
    
    <p class="p-10">En este momento no no haz alquilado nada :D</p>
    <Nav>
</Layout>