---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terminos y Condiciones">
<h1 class="text-4xl font-bold font-Poppins text-center text-Black pt-10">Terminos y condiciones</h1>
<div class="bg-Blue text-White m-6 p-4 h-96 overflow-y-scroll font-Poppins text-sm rounded-lg">
    <p class="mb-4">1- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium ex iure molestiae sed beatae sint .</p>

    <p class="mb-4">2- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium ex iure molestiae sed beatae sint .</p>

    <p class="mb-4">3- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium ex iure molestiae sed beatae sint .</p>

    <p class="mb-4">4- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium ex iure molestiae sed beatae sint .</p>

    <p class="mb-4">5- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium ex iure molestiae sed beatae sint .</p>
</div>

<div class="flex justify-center gap-4 mb-4">
    <a href="#" class="bg-Deny px-4 py-1 text-White text-lg rounded-lg">Cancelar</a>
    <a href="#" class="bg-Accept px-4 py-1 text-White text-lg rounded-lg ">Aceptar</a>
</div>
</Layout>