---

---

<nav class="flex justify-between p-2 bg-Blue text-white text-center mt-[100vh]">
    <article class="hover:text-Orange duration-200">
        <i class="fa-regular fa-handshake"></i>
        <p>Prestar</p>
    </article>

    <article class="hover:text-Orange duration-200">
        <i class="fa-regular fa-rectangle-list"></i>
        <p>Alquilar</p>
    </article>

    <article class="hover:text-Orange duration-200">
        <i class="fa-solid fa-house"></i>
        <p>Inicio</p>
    </article>

    <article class="hover:text-Orange duration-200">
        <i class="fa-solid fa-clock-rotate-left"></i>
        <p>Historial</p>
    </article>

    <article class="hover:text-Orange duration-200">
        <i class="fa-solid fa-user"></i>
        <p>Profile</p>
    </article>
</nav>